<%- include('header') %>
  <!-- -------------------------------------------------------------- -->

  <header class="container">

    <h1><i class="fa fa-video-camera" aria-hidden="true"></i> DEVOTION IN MOTION</h1>
    <form action="/upload" method='POST' enctype='multipart/form-data'>
      <input type="file" name="file">
      <input type="submit" value="Submitt">
    </form>
  </header>
  <section class="container mt-5">
    <div class="row">
      <!--  fileList passed in via EJS object-->
      <!--  res.render("upload", { fileList: fileList });-->
      <% fileList.forEach((file)=>{%>
        <div class="col-lg-6">
          <div class="text-center ">
            <video id='<%= file%>' controls width="400">
              <source src="/files/<%= file%>" type="video/mp4">
            </video>
            <div>
              <button onclick="enlarge('<%= file%>')" class="btn btn-primary">Change to full screen</button>
            </div>
          </div>
        </div>
        <%}) %>
    </div>
  </section>
  <!-- -------------------------------------------------------------- -->
  <%- include('footer') %>