<%- include('header') %>
  <!-- -------------------------------------------------------------- -->

  <header class="container">

    <h1><i class="fa fa-video-camera" aria-hidden="true"></i> DEVOTION IN MOTION</h1>

    <div class="d-none" id="uploadForm">
      <p class="m-0 p-0 text-white">Upload File:</p>
      <!-- onsubmit="return checkMP4()" <IS> correct. Linter in error -->
      <form class="text-white" action="/" onsubmit="return checkMP4()" method='POST' enctype='multipart/form-data'>
        <input type="file" name="file" id="fileName">
        <input type="submit" value="Upload">
        <label id="errorLabel" class="text-danger bg-warning"></label>
        <div>
          <!-- <input class="mt-3" type="checkbox" checked name="fileType" id="fileType"> -->
          <label for="fileType">Upload video file(mp4 only)</label>
        </div>
      </form>
    </div>
    <div id="passwordDiv">
      <button onclick="makeFormVisable()" class="btn btn-primary">Enter Password To Upload File</button>
      <input type="text" name="isAdmin" id="isAdmin">
    </div>
    <div class="mt-4">
      <a href="/"><button class="btn btn-light">
          Video Files
        </button></a>
      <a href="/files"><button class="btn btn-light">
          Other Files
        </button></a>
    </div>
  </header>
  <section class="container mt-5">
    <h3>Video Files:</h3>
    <p>Click on video to play</p>
    <div class="row">
      <!--  fileList passed in via EJS object-->
      <!--  res.render("upload", { fileList: fileList });-->
      <% fileList.forEach((file)=>{%>
        <div class="col-lg-6">
          <div class="myborder" style="height:350px">
            <div class="text-center mt-4">
              <video id='<%= file%>' controls width="350">
                <!-- src="/files/<%= file%>#t=1.5  starts 1.5 sec from beginning-->
                <source src="/videos/<%= file%>#t=1.5" type="video/mp4">
              </video>
              <div>
                <a href="/videos/<%= file%>" class='d-block' download>Download <%= file%></a>
                <button onclick="enlarge('<%= file%>')" class="btn btn-primary">Change to full screen</button>
                <a href="/videos/delete/<%= file%>" class="btn btn-dark">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <%}) %>
    </div>
  </section>


  <!-- -------------------------------------------------------------- -->
  <%- include('footer') %>